'scopeName': 'source.swift'
'fileTypes': [
  'swift'
],
'name': 'Swift'
'patterns': [
  {
    'name': 'keyword.declaration.swift'
    'match': '\\b(class|deinit|enum|extension|func|import|init|let|protocol|static|struct|subscript|typealias|var)\\b'
  }
  {
    'name': 'keyword.statement.swift'
    'match': '\\b(break|case|continue|default|do|else|fallthrough|if|in|for|return|switch|where|while)\\b'
  }
  {
    'name': 'keyword.expressions-and-types.swift'
    'match': '\\b(as|dynamicType|is|new|super|self|Self|Type|__COLUMN__|__FILE__|__FUNCTION__|__LINE__)\\b'
  }
  {
    'name': 'keyword.reserved.swift'
    'match': '\\b(associativity|didSet|get|infix|inout|left|mutating|none|nonmutating|operator|override|postfix|precedence|prefix|right|set|unowned|unowned\(safe\)|unowned\(unsafe\)|weak|willSet)\\b'
  }
]
'repository':
  'escaped-char':
    'patterns': [
      {
        'name': 'constant.character.escape.swift'
        'match': '\\\\[0\\\\tnr"\']'
      }
      {
        'name': 'constant.character.escape.swift'
        'match': '\\\\(x\\h{2}|u\\h{4}|U\\h{8})'
      }
      {
        'name': 'invalid.illegal.constant.character.escape.swift'
        'match': '\\\\[^uxU]'
      }
    ]
  'operator':
    'patterns': [
        {
          'include': '#operator-character'
        }
      ]
  'operator-character':
    'name': 'keyword.operator.swift'
    'match': '[\\/=\\-+!*%<>&|^~.]'
  'quoted-text':
    'patterns': [
      {
        'name': 'meta.embedded.line.swift'
        'contentName': 'source.swift'
        'begin': '\\\\\\('
        'end': '\\)'
        'beginCaptures':
          '0':
            'name': 'punctuation.section.embedded.begin.swift'
        'endCaptures':
          '0':
            'name': 'punctuation.section.embedded.end.swift'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
      {
        'include': '#escaped-char'
      }
    ]
  'string-literal':
    'name': 'string.quoted.double.swift'
    'begin': '"'
    'end': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.swift'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.swift'
    'patterns': [
      {
        'include': '#quoted-text'
      }
    ]
